src/orgs/usa/_default/flows/ScreenFlow_NewPatientAppointment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_SetStageConfirmation</name>
        <label>Set stage &quot;Confirmation&quot;</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_AppointmentConfirmation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScreenFlow_AppointmentSubmission</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_SetStageSearch</name>
        <label>Set stage &quot;Search&quot;</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_Search</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScreenFlow_AppointmentReservationSearch</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;footer&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Decision_PatientInSyncWithAtLeastOneServer</name>
        <label>Patient in sync with at least one server?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Screen_PatientNotInSync</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Decision_PatientInSyncWithAtLeastOneServer_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRecord_PatientServerProfiles</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_IntroScreen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>RecordChoiceSet_PatientServers</name>
        <dataType>String</dataType>
        <displayField>EmrServerName__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PatientAccount__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>PatientServerProfile__c</object>
        <outputAssignments>
            <assignToReference>serverPatientId</assignToReference>
            <field>ArtemisPatientId__c</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>EmrServer__c</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>ScreenFlow - New Patient Appointment - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ScreenFlow - New Patient Appointment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetRecord_GetArtemisPatientReference</name>
        <label>Get Artemis Patient Reference</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_PatientInSyncWithAtLeastOneServer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPrimary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmrServerAccountReference__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecord_PatientServerProfiles</name>
        <label>Get Patient Server Profiles</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRecord_GetArtemisPatientReference</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PatientAccount__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PatientServerProfile__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Screen_IntroScreen</name>
        <label>Intro</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assignment_SetStageSearch</targetReference>
        </connector>
        <fields>
            <name>DisplayText_Intro</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;You&apos;re about to start!&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Please chose which server you want to schedule an Appointment:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ChoiceLookup_ServerSelection</name>
            <choiceReferences>RecordChoiceSet_PatientServers</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Server</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <stageReference>
            <elementReference>Stage_Start</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Screen_PatientNotInSync</name>
        <label>No patient server profiles</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>EmptyState_NoReference</name>
            <extensionName>c:emptyState</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>illustration</name>
                <value>
                    <stringValue>connection</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>header</name>
                <value>
                    <stringValue>Patient not in sync</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>description</name>
                <value>
                    <stringValue>Patient is not in sync with Artemis. Please create a Server Profile to continue.</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>Stage_AppointmentConfirmation</name>
        <isActive>true</isActive>
        <label>Appointment Confirmation</label>
        <stageOrder>15</stageOrder>
    </stages>
    <stages>
        <name>Stage_Search</name>
        <isActive>true</isActive>
        <label>Appointment Search</label>
        <stageOrder>10</stageOrder>
    </stages>
    <stages>
        <name>Stage_Start</name>
        <isActive>true</isActive>
        <label>Start</label>
        <stageOrder>5</stageOrder>
    </stages>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRecord_PatientServerProfiles</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>ScreenFlow_AppointmentReservationSearch</name>
        <label>ScreenFlow - Appointment reservation search</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Assignment_SetStageConfirmation</targetReference>
        </connector>
        <flowName>ScreenFlow_AppointmentReservationSearch</flowName>
        <inputAssignments>
            <name>artemisServerId</name>
            <value>
                <elementReference>ChoiceLookup_ServerSelection.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>showConfirmedReservationScreen</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>ScreenFlow_AppointmentSubmission</name>
        <label>ScreenFlow - Appointment submission</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <flowName>ScreenFlow_AppointmentSubmission</flowName>
        <inputAssignments>
            <name>artemisServerId</name>
            <value>
                <elementReference>ChoiceLookup_ServerSelection.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>patientAccountId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>patientArtemisId</name>
            <value>
                <elementReference>serverPatientId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>reservedAvailabilitySlot</name>
            <value>
                <elementReference>ScreenFlow_AppointmentReservationSearch.reservedAvailabilitySlot</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>showAppointmentCreatedScreen</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Patient Id of the current Patient record in the selected EMR Server.</description>
        <name>serverPatientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
