src/orgs/usa/_default/flows/ScreenFlow_AppointmentSubmission.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Apex_ConvertSelectedDaysOfWeekIntoList</name>
        <label>Convert selected days of week into List</label>
        <locationX>204</locationX>
        <locationY>890</locationY>
        <actionName>FlowAction_UtilsStringToList</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assignment_DefineNewAppointmentWaitingListPreferencesPayload</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>splitBy</name>
            <value>
                <stringValue>;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>CheckboxGroup_WaitingListDaysOfWeek</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowAction_UtilsStringToList</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Converts the selected lo</description>
        <name>Apex_ConvertSelectedLocationsIntoList</name>
        <label>Convert selected locations into List</label>
        <locationX>204</locationX>
        <locationY>674</locationY>
        <actionName>FlowAction_UtilsStringToList</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Apex_ConvertSelectedProvidersIntoList</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>splitBy</name>
            <value>
                <stringValue>;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChoiceLookup_Locations.selectedChoiceValues</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowAction_UtilsStringToList</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Apex_ConvertSelectedProvidersIntoList</name>
        <label>Convert selected providers into List</label>
        <locationX>204</locationX>
        <locationY>782</locationY>
        <actionName>FlowAction_UtilsStringToList</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Apex_ConvertSelectedDaysOfWeekIntoList</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>splitBy</name>
            <value>
                <stringValue>;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChoiceLookup_Providers.selectedChoiceValues</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowAction_UtilsStringToList</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ApexAction_ApiCreateNewAppointment</name>
        <label>API - Create new appointment</label>
        <locationX>336</locationX>
        <locationY>1190</locationY>
        <actionName>FlowAction_ArtemisAppointmentsCreate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Decision_AppointmentSuccessfullyCreated</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Screen_ApiError</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>appointment</name>
            <value>
                <elementReference>newAppointmentData</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emrServerId</name>
            <value>
                <elementReference>artemisServerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>patientAccountId</name>
            <value>
                <elementReference>patientAccountId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowAction_ArtemisAppointmentsCreate</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_DefineNewAppointmentPayload</name>
        <label>Define new appointment payload</label>
        <locationX>336</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>newAppointmentData.slotId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>reservedAvailabilitySlot.id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAppointmentData.patientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>patientArtemisId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAppointmentData.comments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TextArea_Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAppointmentData.scheduledBy</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Username</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_WaitingListpreferencesDefined</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_DefineNewAppointmentWaitingListPreferencesPayload</name>
        <label>Define new appointment waiting list preferences payload</label>
        <locationX>204</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>newAppointmentData.waitingListPreferences.comments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TextArea_WaitingListComments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAppointmentData.waitingListPreferences.timeOfDay</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CheckboxGroup_WaitingListTimeOfDay</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAppointmentData.waitingListPreferences.daysOfWeek</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Apex_ConvertSelectedDaysOfWeekIntoList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAppointmentData.waitingListPreferences.locationIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Apex_ConvertSelectedLocationsIntoList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAppointmentData.waitingListPreferences.providerCalendarIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Apex_ConvertSelectedProvidersIntoList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ApexAction_ApiCreateNewAppointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_SetFlowOutputs</name>
        <label>Set flow outputs</label>
        <locationX>182</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>appointment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApexAction_ApiCreateNewAppointment.appointment</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>Choice_WaitingListDaysOfWeek_ANY</name>
        <choiceText>Any</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ANY</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_WaitingListDaysOfWeek_Friday</name>
        <choiceText>Friday</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FRIDAY</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_WaitingListDaysOfWeek_Monday</name>
        <choiceText>Monday</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MONDAY</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_WaitingListDaysOfWeek_Saturday</name>
        <choiceText>Saturday</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SATURDAY</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_WaitingListDaysOfWeek_Sunday</name>
        <choiceText>Sunday</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SUNDAY</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_WaitingListDaysOfWeek_Thursday</name>
        <choiceText>Thursday</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>THURSDAY</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_WaitingListDaysOfWeek_Tuesday</name>
        <choiceText>Tuesday</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TUESDAY</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_WaitingListDaysOfWeek_Wednesday</name>
        <choiceText>Wednesday</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WEDNESDAY</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_WaitingListTimeOfDay_AM</name>
        <choiceText>AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_WaitingListTimeOfDay_Any</name>
        <choiceText>Any</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ANY</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_WaitingListTimeOfDay_PM</name>
        <choiceText>PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PM</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;footer&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Decision_AllRequiredParametersAvailable</name>
        <label>All required parameters available?</label>
        <locationX>677</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Screen_MissingParameters</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Decision_AllRequiredParametersAvailable_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>artemisServerId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>reservedAvailabilitySlot</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>patientAccountId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>patientArtemisId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRecord_GetServerDetails</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_AppointmentSuccessfullyCreated</name>
        <label>Appointment successfully created?</label>
        <locationX>336</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Screen_AppointmentCreationFailed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Decision_AppointmentSuccessfullyCreated_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApexAction_ApiCreateNewAppointment.isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_ShowConfirmationOfAppointmentCreationScreen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_ShowConfirmationOfAppointmentCreationScreen</name>
        <label>Show confirmation of Appointment creation screen?</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Assignment_SetFlowOutputs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Decision_ShowConfirmationOfAppointmentCreationScreen_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>showAppointmentCreatedScreen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_AppointmentSuccessfullyCreated</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_WaitingListpreferencesDefined</name>
        <label>Waiting list preferences defined?</label>
        <locationX>336</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>ApexAction_ApiCreateNewAppointment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Decision_WaitingListpreferencesDefined_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Checkbox_AddToWaitingList</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Apex_ConvertSelectedLocationsIntoList</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Screen flow that expects a given Artemis Server Id, Patient Id and a Reserved Availability Slot as parameters and then renders an Appointment creation form UI. Submitting the form will submit the Appointment in Artemis via API. Returns the created appointment Id

Note: This screen flow is expected to be used as a sub-flow from other flows - Do not use it directly as a standalone flow.</description>
    <dynamicChoiceSets>
        <name>RecordChoiceSet_Locations</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LocationEmrServer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>artemisServerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LocationArtemisExternalId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>LocationArtemisExternalId__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecordChoiceSet_Providers</name>
        <dataType>String</dataType>
        <displayField>ContactName__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EmrServer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>artemisServerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProviderCalendarId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Identifier__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>EmrServerContactReference__c</object>
        <valueField>ProviderCalendarId__c</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>ScreenFlow - Appointment submittion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ScreenFlow - Appointment submission</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetRecord_GetServerDetails</name>
        <label>Get server details</label>
        <locationX>336</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_AppointmentDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>artemisServerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmrServer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Screen_ApiError</name>
        <label>API Error</label>
        <locationX>754</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>EmptyState_ApiError</name>
            <extensionName>c:emptyState</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>description</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>header</name>
                <value>
                    <stringValue>Artemis API Error</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>illustration</name>
                <value>
                    <stringValue>maintenance</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_AppointmentCreationFailed</name>
        <label>Appointment creation failed</label>
        <locationX>490</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>EmptyState_AppointmentCreationFail</name>
            <extensionName>c:emptyState</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>illustration</name>
                <value>
                    <stringValue>fishing2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>header</name>
                <value>
                    <stringValue>Appointment could not be created</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>description</name>
                <value>
                    <elementReference>ApexAction_ApiCreateNewAppointment.errorMessage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Checkbox_TechnicalStuff</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>View technical stuff →</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>false</booleanValue>
            </isDisabled>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DisplayText_CreationFail</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;Technical stuff&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Request payload:&lt;/strong&gt; &lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!ApexAction_ApiCreateNewAppointment.newAppointmentData}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Error response payload: &lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!ApexAction_ApiCreateNewAppointment.errorResponse}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Error message: &lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!ApexAction_ApiCreateNewAppointment.errorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Checkbox_TechnicalStuff</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_AppointmentDetails</name>
        <label>Appointment details form</label>
        <locationX>336</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assignment_DefineNewAppointmentPayload</targetReference>
        </connector>
        <fields>
            <name>DisplayText_AppointmentSubmitScreenHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Appointment submission&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lwcReservedAvailabilityTimeTracker</name>
            <extensionName>c:reservedAvailabilityTimeTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>reservedAvailabilitySlot</name>
                <value>
                    <elementReference>reservedAvailabilitySlot</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>TextArea_Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Checkbox_AddToWaitingList</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Add to waiting list?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>false</booleanValue>
            </isDisabled>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DisplayText_WaitingListPreferencesHeader</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Waiting list preferences:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Checkbox_AddToWaitingList</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Screen_AppointmentDetails_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_AppointmentDetails_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ChoiceLookup_Locations</name>
                    <choiceReferences>RecordChoiceSet_Locations</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Locations</fieldText>
                    <fieldType>ComponentMultiChoice</fieldType>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_AppointmentDetails_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ChoiceLookup_Providers</name>
                    <choiceReferences>RecordChoiceSet_Providers</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Providers</fieldText>
                    <fieldType>ComponentMultiChoice</fieldType>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Checkbox_AddToWaitingList</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Screen_AppointmentDetails_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_AppointmentDetails_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CheckboxGroup_WaitingListDaysOfWeek</name>
                    <choiceReferences>Choice_WaitingListDaysOfWeek_ANY</choiceReferences>
                    <choiceReferences>Choice_WaitingListDaysOfWeek_Monday</choiceReferences>
                    <choiceReferences>Choice_WaitingListDaysOfWeek_Tuesday</choiceReferences>
                    <choiceReferences>Choice_WaitingListDaysOfWeek_Wednesday</choiceReferences>
                    <choiceReferences>Choice_WaitingListDaysOfWeek_Thursday</choiceReferences>
                    <choiceReferences>Choice_WaitingListDaysOfWeek_Friday</choiceReferences>
                    <choiceReferences>Choice_WaitingListDaysOfWeek_Saturday</choiceReferences>
                    <choiceReferences>Choice_WaitingListDaysOfWeek_Sunday</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Choice_WaitingListDaysOfWeek_ANY</defaultSelectedChoiceReference>
                    <fieldText>Days of week</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>false</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_AppointmentDetails_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CheckboxGroup_WaitingListTimeOfDay</name>
                    <choiceReferences>Choice_WaitingListTimeOfDay_Any</choiceReferences>
                    <choiceReferences>Choice_WaitingListTimeOfDay_AM</choiceReferences>
                    <choiceReferences>Choice_WaitingListTimeOfDay_PM</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Choice_WaitingListTimeOfDay_Any</defaultSelectedChoiceReference>
                    <fieldText>Time of day</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>false</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Checkbox_AddToWaitingList</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Screen_AppointmentDetails_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_AppointmentDetails_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TextArea_WaitingListComments</name>
                    <fieldText>Waiting list comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Checkbox_AddToWaitingList</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayText_SubmitMessage</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;By submitting this form, an appointment will be created in &quot;{!GetRecord_GetServerDetails.Name}&quot; Artemis server.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_AppointmentSuccessfullyCreated</name>
        <label>Appointment successfully created</label>
        <locationX>50</locationX>
        <locationY>1514</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assignment_SetFlowOutputs</targetReference>
        </connector>
        <fields>
            <name>DisplayText_Response</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Appointment created&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Appointment has been created successfully.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_MissingParameters</name>
        <label>Missing parameters</label>
        <locationX>1018</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>EmptyState_MissingParameters</name>
            <extensionName>c:emptyState</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>description</name>
                <value>
                    <stringValue>Make sure to all the required parameters for this sub-screen flow to be executed correctly.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>header</name>
                <value>
                    <stringValue>Missing flow parameters</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>illustration</name>
                <value>
                    <stringValue>access2</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>551</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_AllRequiredParametersAvailable</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>appointment</name>
        <apexClass>ArtemisAppointmentRestModel</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Id of the Artemis Server where the appointment will created. Required</description>
        <name>artemisServerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newAppointmentData</name>
        <apexClass>ArtemisNewAppointmentRestModel</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Salesforce Id of the Patient where an Appointment is going to be created.</description>
        <name>patientAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Artemis patient Id where the Appointment is going to be created.</description>
        <name>patientArtemisId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>reservedAvailabilitySlot</name>
        <apexClass>ArtemisAvailabilityRestModel</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>showAppointmentCreatedScreen</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
