src/orgs/usa/_default/flows/ScreenFlow_NewReferralSource.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_SaveAsLeadId</name>
        <label>Save as Lead Id</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>leadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetRecord_GetLeadEmrServer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_SaveAsPatientId</name>
        <label>Save as Patient Id</label>
        <locationX>622</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>patientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetRecord_GetPrimaryPatientEmrServer</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choice_ReferralPractitionerType_Acupuncturist</name>
        <choiceText>Acupuncturist</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Acupuncturist</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_ReferralPractitionerType_DoctorNonObgyn</name>
        <choiceText>Doctor non-OBGYN</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Doctor_OBGYN</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_ReferralPractitionerType_DoctorObgyn</name>
        <choiceText>Doctor OBGYN</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Doctor_Non OBGYN</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_TypeOfReferral_OtherEntities</name>
        <choiceText>I want to refer to other entities</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OTHER</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_TypeOfReferral_Practitioner</name>
        <choiceText>I want to refer a Practitioner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PRACTITIONER</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Decision_LeadDoesNotHaveEmrServer</name>
        <label>Lead does not have a EMR Server?</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Screem_TypeOfReferral</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Decision_LeadDoesNotHaveEmrServer_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>emrServerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_NoEmrServerOnLead</targetReference>
            </connector>
            <label>Yes (it doesn&apos;t)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_PatientDoesNotHavePrimaryEmrServer</name>
        <label>Patient does not have a Primary EMR Server?</label>
        <locationX>622</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Screem_TypeOfReferral</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Decision_PatientDoesNotHavePrimaryEmrServer_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>emrServerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_NoPrimaryEmrServerOnPatient</targetReference>
            </connector>
            <label>Yes (it doesn&apos;t)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_WhatTypeIsTheSourceRecord</name>
        <label>What type is the source record?</label>
        <locationX>556</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Screen_InvalidSourceRecordProvided</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid</defaultConnectorLabel>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_SaveAsLeadId</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
        <rules>
            <name>Patient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_SaveAsPatientId</targetReference>
            </connector>
            <label>Patient (Account)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_WhatTypeOfReferralWasChosen</name>
        <label>What type of referral was chosen?</label>
        <locationX>556</locationX>
        <locationY>1058</locationY>
        <defaultConnectorLabel>Invalid option</defaultConnectorLabel>
        <rules>
            <name>Decision_WhatTypeOfReferralWasChosen_Practitioner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RadioButton_TypeOfReferral</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_TypeOfReferral_Practitioner</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_PractitionerReferralSelection</targetReference>
            </connector>
            <label>Practitioner</label>
        </rules>
        <rules>
            <name>Decision_WhatTypeOfReferralWasChosen_Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RadioButton_TypeOfReferral</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_TypeOfReferral_OtherEntities</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_OtherReferralSourceSelection</targetReference>
            </connector>
            <label>Other</label>
        </rules>
    </decisions>
    <description>ScreenFlow to allow the creation of new Referral Sources in a Lead or Patient.</description>
    <dynamicChoiceSets>
        <name>RecordChoiceSet_Practitioners</name>
        <dataType>String</dataType>
        <displayField>ContactName__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EmrServer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>emrServerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ArtemisPractitionerIdentifier__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>EmrServerContactReference__c</object>
        <valueField>Contact__c</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>ScreenFlow - New Referral Source {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ScreenFlow - New Referral Source</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateRecord_CreateReferralSourceLinkedToMetadata</name>
        <label>Create Referral Source linked to Metadata</label>
        <locationX>556</locationX>
        <locationY>1274</locationY>
        <inputAssignments>
            <field>EmrServerReferralSourceMetadata__c</field>
            <value>
                <elementReference>lwc_referralPicker.selectedRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient__c</field>
            <value>
                <elementReference>patientId</elementReference>
            </value>
        </inputAssignments>
        <object>ReferralSource__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateRecord_CreateReferralSourceLinkedToPractitioner</name>
        <label>Create Referral Source linked to Practitioner</label>
        <locationX>292</locationX>
        <locationY>1274</locationY>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OverwrittenReferralCategory__c</field>
            <value>
                <elementReference>RadioButton_ReferralPractitionerType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient__c</field>
            <value>
                <elementReference>patientId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider__c</field>
            <value>
                <elementReference>ChoiceLookup_Practitioners.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <object>ReferralSource__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetRecord_GetLeadEmrServer</name>
        <label>Get Lead EMR Server</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_LeadDoesNotHaveEmrServer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>emrServerId</assignToReference>
            <field>EmrServer__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetRecord_GetPrimaryPatientEmrServer</name>
        <label>Get Primary Patient EMR Server</label>
        <locationX>622</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_PatientDoesNotHavePrimaryEmrServer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPrimary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>EmrServerAccountReference__c</object>
        <outputAssignments>
            <assignToReference>emrServerId</assignToReference>
            <field>EmrServer__c</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Screem_TypeOfReferral</name>
        <label>Type of referral</label>
        <locationX>556</locationX>
        <locationY>950</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_WhatTypeOfReferralWasChosen</targetReference>
        </connector>
        <fields>
            <name>RadioButton_TypeOfReferral</name>
            <choiceReferences>Choice_TypeOfReferral_Practitioner</choiceReferences>
            <choiceReferences>Choice_TypeOfReferral_OtherEntities</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What type of referral do you want to create?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_InvalidSourceRecordProvided</name>
        <label>Invalid Source record provided</label>
        <locationX>930</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayText_NoSourceRecord</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;No source record Id was provided.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_NoEmrServerOnLead</name>
        <label>No EMR Server on Lead</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayText_NoEmrSererOnLead</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Please make sure to have an &quot;Artemis Server&quot; linked with this Lead before trying to create a Referral Source.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_NoPrimaryEmrServerOnPatient</name>
        <label>No Primary EMR Server on Patient</label>
        <locationX>490</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayText_NoEmrServerOnPatient</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please make sure to have a primary &quot;Artemis Server&quot; linked with this Patient before trying to create a Referral Source.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_OtherReferralSourceSelection</name>
        <label>Other Referral Source selection</label>
        <locationX>556</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateRecord_CreateReferralSourceLinkedToMetadata</targetReference>
        </connector>
        <fields>
            <name>lwc_referralPicker</name>
            <extensionName>c:artemisReferralSourcePicker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>emrServerId</name>
                <value>
                    <elementReference>emrServerId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayReferenceIds</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requiredMessage</name>
                <value>
                    <stringValue>Please select a referral source.</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_PractitionerReferralSelection</name>
        <label>Practitioner referral selection</label>
        <locationX>292</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateRecord_CreateReferralSourceLinkedToPractitioner</targetReference>
        </connector>
        <fields>
            <name>RadioButton_ReferralPractitionerType</name>
            <choiceReferences>Choice_ReferralPractitionerType_DoctorObgyn</choiceReferences>
            <choiceReferences>Choice_ReferralPractitionerType_DoctorNonObgyn</choiceReferences>
            <choiceReferences>Choice_ReferralPractitionerType_Acupuncturist</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Choice_ReferralPractitionerType_DoctorObgyn</defaultSelectedChoiceReference>
            <fieldText>Referral category</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>false</booleanValue>
            </isDisabled>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ChoiceLookup_Practitioners</name>
            <choiceReferences>RecordChoiceSet_Practitioners</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Referred by</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>430</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_WhatTypeIsTheSourceRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The Artemis Server to which this referral should will be eventually created on.</description>
        <name>emrServerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>patientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Either a Lead or a Patient id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
