src/orgs/usa/_default/flows/ScreenFlow_NewPatientServerProfileRecord.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ApexAction_ApiCallGetPatientDataFromArtemisUsingReference</name>
        <label>Get patient data from Artemis using reference</label>
        <locationX>710</locationX>
        <locationY>1490</locationY>
        <actionName>FlowAction_ArtemisPatientsGet</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Decision_PatientFoundSuccessfullyWithProvidedId</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>emrServerId</name>
            <value>
                <elementReference>ChoiceLookup_Server.selectedChoiceValues</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>patientId</name>
            <value>
                <elementReference>Text_ArtemisPatientId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowAction_ArtemisPatientsGet</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_AddServerToListOfAvailableServers</name>
        <label>Add server to list of available servers</label>
        <locationX>776</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>availableServersForPatient</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_FilterServersAvailableForPatient</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_FilterServersAvailableForPatient</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choice_SyncType_FromExistingPatientServerRecord</name>
        <choiceText>I want to create a new Patient Server Profile record using the data of an existing Patient Server Profile.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FROM_EXISTING_PATIENT_SERVER_RECORD</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_SyncType_FromScratch</name>
        <choiceText>I want to create a new Patient Server Profile record from scratch.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FROM_SCRATCH</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_SyncType_ReferenceExistingPatientId</name>
        <choiceText>I want to reference a existing Patient record in the selected Server, using its &quot;Artemis Patient ID&quot; to create a new Patient Server Profile.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>REF_EXISTING_PATIENT_ID</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_SyncType_Search</name>
        <choiceText>I want to search for a Patient record in the selected Server and use its data to create a new Patient Server Profile.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SEARCH</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Decision_IsPatientAlreadyInSyncWithAllServers</name>
        <label>Is patient already in sync with all servers?</label>
        <locationX>512</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>Screen_ServerSelection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Decision_IsPatientAlreadyInSyncWithAllServers_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>availableServersForPatient</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_NoServersAvailableForPatient</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_IsPatientAlreadyInThisServer</name>
        <label>Is patient already in this server?</label>
        <locationX>688</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Assignment_AddServerToListOfAvailableServers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Decision_IsPatientAlreadyInThisServer_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transform_CollectAllServerIdsWherePatientExists</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_FilterServersAvailableForPatient.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_FilterServersAvailableForPatient</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_PatientFoundSuccessfullyWithProvidedId</name>
        <label>Patient found successfully with provided Id?</label>
        <locationX>710</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Screen_PatientNotFoundOnServer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Decision_PatientFoundSuccessfullyWithProvidedId_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApexAction_ApiCallGetPatientDataFromArtemisUsingReference.isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_PatientRecordFoundOnServer</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_WhatSyncTypeDidUserChose</name>
        <label>What sync type did user chose?</label>
        <locationX>974</locationX>
        <locationY>1274</locationY>
        <defaultConnectorLabel>invalid</defaultConnectorLabel>
        <rules>
            <name>Decision_WhatSyncTypeDidUserChose_Search</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RadioButton_SyncType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_SyncType_Search</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_SearchPatientInServer</targetReference>
            </connector>
            <label>Search</label>
        </rules>
        <rules>
            <name>Decision_WhatSyncTypeDidUserChose_ReferenceByPatientId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RadioButton_SyncType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_SyncType_ReferenceExistingPatientId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_NewRecordUsingExistingReference</targetReference>
            </connector>
            <label>Reference by Patient Id</label>
        </rules>
        <rules>
            <name>Decision_WhatSyncTypeDidUserChose_FromOtherExistingPatientServerRec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RadioButton_SyncType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_SyncType_FromExistingPatientServerRecord</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_FromExistingProfileRecord</targetReference>
            </connector>
            <label>From other existing Patient Server record</label>
        </rules>
        <rules>
            <name>Decision_WhatSyncTypeDidUserChose_FromScratch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RadioButton_SyncType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_SyncType_FromScratch</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_FromScratchRecord</targetReference>
            </connector>
            <label>From scratch</label>
        </rules>
    </decisions>
    <description>Allows to create a new Server synchronization for a given existing Patient account record.</description>
    <dynamicChoiceSets>
        <name>CollectionChoiceSet_AvailableServersForPatient</name>
        <collectionReference>availableServersForPatient</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>EmrServer__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>ScreenFlow - New Patient Server Profile record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ScreenFlow - New Patient Server Profile record</label>
    <loops>
        <name>Loop_FilterServersAvailableForPatient</name>
        <label>Filter Servers available for Patient</label>
        <locationX>512</locationX>
        <locationY>458</locationY>
        <collectionReference>GetRecords_GetAllExistingEmrServers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_IsPatientAlreadyInThisServer</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_IsPatientAlreadyInSyncWithAllServers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Rest of the data will be fetched automatically when triggering a custom platform event</description>
        <name>CreateRecord_CreateEmptyPatientServerProfileRecord</name>
        <label>Create empty Patient Server Profile record</label>
        <locationX>578</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>Trigger_Artemis_Change_Event_Platf_Event</targetReference>
        </connector>
        <inputAssignments>
            <field>ArtemisPatientId__c</field>
            <value>
                <elementReference>Text_ArtemisPatientId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmrServer__c</field>
            <value>
                <elementReference>ChoiceLookup_Server.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PatientAccount__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>PatientServerProfile__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>to force the sync of this patient record data</description>
        <name>Trigger_Artemis_Change_Event_Platf_Event</name>
        <label>Trigger &quot;Artemis Change Event&quot; Platf. Event</label>
        <locationX>578</locationX>
        <locationY>1922</locationY>
        <inputAssignments>
            <field>ArtemisServer__c</field>
            <value>
                <elementReference>ChoiceLookup_Server.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event__c</field>
            <value>
                <stringValue>create</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ResourceIdentifier__c</field>
            <value>
                <elementReference>Text_ArtemisPatientId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ResourceName__c</field>
            <value>
                <stringValue>patient</stringValue>
            </value>
        </inputAssignments>
        <object>ArtemisChangeEvent__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetRecords_GetAllExistingEmrServers</name>
        <label>Get all existing EMR Servers</label>
        <locationX>512</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_FilterServersAvailableForPatient</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EmrServer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordsExistingPatientServerProfileRecords</name>
        <label>Get existing Patient Server Profile records</label>
        <locationX>512</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transform_CollectAllServerIdsWherePatientExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PatientAccount__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PatientServerProfile__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Screen_FromExistingProfileRecord</name>
        <label>From existing profile record</label>
        <locationX>1106</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayText_FromExistingProfileRecordIntro</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Sorry. This option is not yet implemented. It is reserved for a future release.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_FromScratchRecord</name>
        <label>From scratch record</label>
        <locationX>1370</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayText_FromScratchRecordIntro</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Sorry. This option is not yet implemented. It is reserved for a future release.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_NewRecordUsingExistingReference</name>
        <label>Existing reference</label>
        <locationX>710</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ApexAction_ApiCallGetPatientDataFromArtemisUsingReference</targetReference>
        </connector>
        <fields>
            <name>DisplayText_NewRecordUsingExistingRefIntro</name>
            <fieldText>&lt;p&gt;&lt;em&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/em&gt;Please go on the selected Server and fetch the existing &lt;em&gt;&quot;Patient ID&quot;&lt;/em&gt;, then insert in bellow.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Text_ArtemisPatientId</name>
            <dataType>String</dataType>
            <fieldText>Artemis Patient Id</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>false</booleanValue>
            </isDisabled>
            <isReadOnly>
                <booleanValue>false</booleanValue>
            </isReadOnly>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DisplayText_NewRecordUsingExistingRefNextAction</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;Moving into the next screen, we&apos;ll fetch the data of the provided Patient Id from the selected server for your validation.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_NoServersAvailableForPatient</name>
        <label>No more servers available for patient</label>
        <locationX>50</locationX>
        <locationY>1058</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EmptyState_NoServersAvailableForPatient</name>
            <extensionName>c:emptyState</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>illustration</name>
                <value>
                    <stringValue>connection</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>header</name>
                <value>
                    <stringValue>No more servers available</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>description</name>
                <value>
                    <stringValue>Wow! This patient seems to be in sync with all servers already!</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_PatientNotFoundOnServer</name>
        <label>Patient not found on Server</label>
        <locationX>842</locationX>
        <locationY>1706</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>EmptyState_PatientNotFoundOnServer</name>
            <extensionName>c:emptyState</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>header</name>
                <value>
                    <stringValue>Ups! Patient not found.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>illustration</name>
                <value>
                    <stringValue>fishing2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>description</name>
                <value>
                    <stringValue>Its seems a patient with the provided id does not exist in the selected server.</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Checkbox_PatientNotFoundTechnicalStuff</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>View technical stuff →</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>false</booleanValue>
            </isDisabled>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DisplayText_PatientNotFoundTechnicalStuff</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;Technical stuff&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Error message:&lt;/strong&gt; {!ApexAction_ApiCallGetPatientDataFromArtemisUsingReference.errorMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Error response:&lt;/strong&gt; {!ApexAction_ApiCallGetPatientDataFromArtemisUsingReference.errorResponse}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Checkbox_PatientNotFoundTechnicalStuff</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_PatientRecordFoundOnServer</name>
        <label>Patient record found on Server</label>
        <locationX>578</locationX>
        <locationY>1706</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateRecord_CreateEmptyPatientServerProfileRecord</targetReference>
        </connector>
        <fields>
            <name>DisplayText_FoundPatientByIdIntro</name>
            <fieldText>&lt;p&gt;A patient record has been found in the selected Server.&lt;/p&gt;&lt;p&gt;Please review its raw data to confirm this is the expected patient information.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Lwc_PrettyPrintPatientData</name>
            <extensionName>c:prettyPrintJson</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>json</name>
                <value>
                    <elementReference>ApexAction_ApiCallGetPatientDataFromArtemisUsingReference.patientDataStringified</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DisplayText_FoundPatientByIdProcedingWarning</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;Please confirm this is the expected Patient data.&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;You won&apos;t be able to rollback after submittion.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_SearchPatientInServer</name>
        <label>Search patient in Server</label>
        <locationX>314</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayText_SearchPatientServerIntro</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Sorry. This option is not yet implemented. It is reserved for a future release.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_ServerSelection</name>
        <label>Server selection</label>
        <locationX>974</locationX>
        <locationY>1058</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Screen_SyncTypeSelection</targetReference>
        </connector>
        <fields>
            <name>DisplayText_ServerSelectionIntro</name>
            <fieldText>&lt;p&gt;Before proceeding, please choose into which server you want to start a new sync.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ChoiceLookup_Server</name>
            <choiceReferences>CollectionChoiceSet_AvailableServersForPatient</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Server</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_SyncTypeSelection</name>
        <label>Sync type selection</label>
        <locationX>974</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_WhatSyncTypeDidUserChose</targetReference>
        </connector>
        <fields>
            <name>RadioButton_SyncType</name>
            <choiceReferences>Choice_SyncType_Search</choiceReferences>
            <choiceReferences>Choice_SyncType_ReferenceExistingPatientId</choiceReferences>
            <choiceReferences>Choice_SyncType_FromExistingPatientServerRecord</choiceReferences>
            <choiceReferences>Choice_SyncType_FromScratch</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Choice_SyncType_ReferenceExistingPatientId</defaultSelectedChoiceReference>
            <fieldText>How do you want to start the sync?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRecordsExistingPatientServerProfileRecords</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Transform_CollectAllServerIdsWherePatientExists</name>
        <label>Collect all server ids where patient exists</label>
        <locationX>512</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>GetRecords_GetAllExistingEmrServers</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>GetRecordsExistingPatientServerProfileRecords[$EachItem].EmrServer__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>availableServersForPatient</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmrServer__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PatientServerProfile__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serversWherePatientExist</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
