src/orgs/usa/_default/flows/ScreenFlow_AppointmentReservationSearch.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ApexAction_ApiPreReserveTimeSlot</name>
        <label>API - Pre-reserve time slot</label>
        <locationX>336</locationX>
        <locationY>782</locationY>
        <actionName>FlowAction_ArtemisAvailabilitiesReserve</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Decision_ReservationSuccessfullyCreated</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_ApiError</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>availabilitySlotId</name>
            <value>
                <elementReference>calendarAvailabilityPicker.selectedSlot.id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emrServerId</name>
            <value>
                <elementReference>artemisServerId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowAction_ArtemisAvailabilitiesReserve</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ApexAction_RestApiCallSearchForAvailabilities</name>
        <label>API - Search for availabilities</label>
        <locationX>677</locationX>
        <locationY>350</locationY>
        <actionName>FlowAction_ArtemisAvailabilitiesSearch</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Found_availabilities</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Screen_ApiError</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>appointmentType</name>
            <value>
                <elementReference>Picklist_AppointmentType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emrServerId</name>
            <value>
                <elementReference>artemisServerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromDate</name>
            <value>
                <elementReference>InputDate_FromDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>locationIds</name>
            <value>
                <elementReference>ChoiceLookup_Locations.selectedChoiceValues</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>providerIds</name>
            <value>
                <elementReference>ChoiceLookup_Providers.selectedChoiceValues</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toDate</name>
            <value>
                <elementReference>InputDate_ToDate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowAction_ArtemisAvailabilitiesSearch</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>availabilitiesResults</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_SetFlowOutputs</name>
        <label>Set flow outputs</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>reservedAvailabilitySlot</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApexAction_ApiPreReserveTimeSlot.reservedAvailabilitySlot</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>Choice_AppointmentType_NP</name>
        <choiceText>NP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NP</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_AppointmentType_NPTelehealth</name>
        <choiceText>NP Telehealth</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NP Telehealth</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;footer&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Decision_IsServerDefined</name>
        <label>Is Server defined?</label>
        <locationX>1111</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Screen_NoServerDefinedScreen_NoServerDefined</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Decision_IsServerDefined_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>artemisServerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>artemisServerId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_SearchCriteria</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_ReservationSuccessfullyCreated</name>
        <label>Reservation successfully created?</label>
        <locationX>336</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Screen_ReservationFailed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Decision_ReservationSuccessfullyCreated_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApexAction_ApiPreReserveTimeSlot.isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_ShowConfirmationPreReserveCompleteScreen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_ShowConfirmationPreReserveCompleteScreen</name>
        <label>Show confirmation Pre-Reserve complete screen?</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Assignment_SetFlowOutputs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Decision_ShowConfirmationPreReserveCompleteScreen_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>showConfirmedReservationScreen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_PreReserveComplete</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_availabilities</name>
        <label>Found availabilities?</label>
        <locationX>677</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Screen_NoResults</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Decision_FoundAvailabilities_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>availabilitiesResults</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Results</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Screen flow that expects a given Artemis Server Id as parameter and then renders an Appointment search UI and allows users to pick a time slot from the search results. Returns the time slot information as results.

Note: This screen flow is expected to be used as a sub-flow from other flows - Do not use it directly as a standalone flow.</description>
    <dynamicChoiceSets>
        <name>RecordChoiceSet_Locations</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LocationEmrServer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>artemisServerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LocationArtemisExternalId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <valueField>LocationArtemisExternalId__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecordChoiceSet_Providers</name>
        <dataType>String</dataType>
        <displayField>ContactName__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EmrServer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>artemisServerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Identifier__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>EmrServerContactReference__c</object>
        <sortField>Contact__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Identifier__c</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>todaysDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <formulas>
        <name>tomorrowsDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate + 1}</expression>
    </formulas>
    <interviewLabel>ScreenFlow - Appointment reservation search {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ScreenFlow - Appointment reservation search</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Screen_ApiError</name>
        <label>API Error</label>
        <locationX>1282</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>EmptyState_ApiError</name>
            <extensionName>c:emptyState</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>illustration</name>
                <value>
                    <stringValue>maintenance</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>header</name>
                <value>
                    <stringValue>Artemis API Error</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>description</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_NoResults</name>
        <label>No results</label>
        <locationX>1018</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>EmptyState_NoAvailabilitiesFound</name>
            <extensionName>c:emptyState</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>description</name>
                <value>
                    <stringValue>Try adjusting your filter options to find available time slots.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>header</name>
                <value>
                    <stringValue>No availabilities found</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>illustration</name>
                <value>
                    <stringValue>desert</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_NoServerDefinedScreen_NoServerDefined</name>
        <label>No Server defined</label>
        <locationX>1546</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>EmptyState_NoServerDefined</name>
            <extensionName>c:emptyState</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>illustration</name>
                <value>
                    <stringValue>access2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>header</name>
                <value>
                    <stringValue>No Artemis Server</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>description</name>
                <value>
                    <stringValue>Make sure to provide the ´artemisServerId´ parameter to execute this screen flow.</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_PreReserveComplete</name>
        <label>Pre-Reserve complete</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assignment_SetFlowOutputs</targetReference>
        </connector>
        <fields>
            <name>DisplayText_PreReserveComplete</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Pre-reserve complete&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Reservation complete. Please proceed.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_ReservationFailed</name>
        <label>Reservation failed</label>
        <locationX>490</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>EmptyState_FailedToReserve</name>
            <extensionName>c:emptyState</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>illustration</name>
                <value>
                    <stringValue>fishing2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>header</name>
                <value>
                    <stringValue>Pre-reservation could not be created</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>description</name>
                <value>
                    <elementReference>ApexAction_ApiPreReserveTimeSlot.errorMessage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Checkbox_TechnicalStuff</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>View technical stuff →</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>false</booleanValue>
            </isDisabled>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DisplayText_ReservationFailTechnicalStuff</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;Technical stuff&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Slot Id: &lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!calendarAvailabilityPicker.selectedSlot.id}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Error response payload: &lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!ApexAction_ApiPreReserveTimeSlot.errorResponse}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Error message: &lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!ApexAction_ApiPreReserveTimeSlot.errorResponse}{!ApexAction_ApiPreReserveTimeSlot.errorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Checkbox_TechnicalStuff</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Results</name>
        <label>Display results calendar</label>
        <locationX>336</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Screen_SelectedSlotReservationConfirm</targetReference>
        </connector>
        <fields>
            <name>DisplayText_ResultsScreenHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(68, 68, 68);&quot;&gt;Availabilities search results&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>calendarAvailabilityPicker</name>
            <extensionName>c:calendarAppointmentAvailabilityPicker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>noSelectionErrorMessage</name>
                <value>
                    <stringValue>Please select a time slot before proceeding.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>availabilitySlots</name>
                <value>
                    <elementReference>availabilitiesResults</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_SearchCriteria</name>
        <label>Search criteria</label>
        <locationX>677</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ApexAction_RestApiCallSearchForAvailabilities</targetReference>
        </connector>
        <fields>
            <name>Screen_SearchCriteria_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_SearchCriteria_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayText_SearchScreenHeader</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Availabilities search&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Picklist_AppointmentType</name>
                    <choiceReferences>Choice_AppointmentType_NP</choiceReferences>
                    <choiceReferences>Choice_AppointmentType_NPTelehealth</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Choice_AppointmentType_NP</defaultSelectedChoiceReference>
                    <fieldText>Appointment Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>false</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Section_DateRangeFilters</name>
            <fieldText>Date range</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Section_DateRangeFilters_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>InputDate_FromDate</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>todaysDate</elementReference>
                    </defaultValue>
                    <fieldText>From date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Section_DateRangeFilters_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>InputDate_ToDate</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>tomorrowsDate</elementReference>
                    </defaultValue>
                    <fieldText>To date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Section_LocationsAndProviders</name>
            <fieldText>Locations / Providers</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Section_LocationsAndProviders_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ChoiceLookup_Locations</name>
                    <choiceReferences>RecordChoiceSet_Locations</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Locations</fieldText>
                    <fieldType>ComponentMultiChoice</fieldType>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Section_LocationsAndProviders_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ChoiceLookup_Providers</name>
                    <choiceReferences>RecordChoiceSet_Providers</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Providers</fieldText>
                    <fieldType>ComponentMultiChoice</fieldType>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_SelectedSlotReservationConfirm</name>
        <label>Confirm temporary slot reservation</label>
        <locationX>336</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ApexAction_ApiPreReserveTimeSlot</targetReference>
        </connector>
        <fields>
            <name>DisplayText_PreReserveConfirmation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Confirm slot pre-reserve&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;By proceeding into the next screen, the selected time slot will be pre-reserved.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;You&apos;ll have 10 minutes to finalize the appointment booking. If the booking is not completed within this time, the slot will be released and made available for others to reserve and you might not be able to successfully complete the final booking.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>Stage_Reserve</name>
        <isActive>false</isActive>
        <label>Reserve</label>
        <stageOrder>10</stageOrder>
    </stages>
    <stages>
        <name>Stage_Search</name>
        <isActive>false</isActive>
        <label>Search</label>
        <stageOrder>5</stageOrder>
    </stages>
    <start>
        <locationX>985</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_IsServerDefined</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Id of the Artemis Server where the appointment will be pre-booked. Required.</description>
        <name>artemisServerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>availabilitiesResults</name>
        <apexClass>ArtemisAvailabilityRestModel</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>reservedAvailabilitySlot</name>
        <apexClass>ArtemisAvailabilityRestModel</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Wether to render or not the screen confirming the time slot was successfully reserved.</description>
        <name>showConfirmedReservationScreen</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
