src/orgs/usa/_default/flows/TriggerFlow_PatientServerProfile_PreventDuplicates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>ErrorMessage_PreventCreationUpdate</name>
        <label>Prevent creation / update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>A server profile record already exists for this Patient in {!$Record.EmrServer__r.Name} server. Duplicates are not allowed!</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Decision_IsThereAlreadyRecordForPatientServer</name>
        <label>Is there already a record for Patient &amp; Server?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Decision_IsThereAlreadyRecordForPatientServer_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRecords_FindDuplicateProfilesForSamePatientAndServer</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorMessage_PreventCreationUpdate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Prevent creation (or update into) of duplicate Patient Server Profile records - A Patient can only have one profile per existing server.</description>
    <environments>Default</environments>
    <interviewLabel>TriggerFlow_PatientServerProfile_PreventDuplicates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TriggerFlow_PatientServerProfile_PreventDuplicates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetRecords_FindDuplicateProfilesForSamePatientAndServer</name>
        <label>Find duplicate Profiles for same Patient and Server</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_IsThereAlreadyRecordForPatientServer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>EmrServer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.EmrServer__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ArtemisPatientId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ArtemisPatientId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PatientAccount__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PatientAccount__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PatientServerProfile__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRecords_FindDuplicateProfilesForSamePatientAndServer</targetReference>
        </connector>
        <object>PatientServerProfile__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
