src/orgs/usa/_default/flows/TriggerFlow_Lead_BeforeCreateUpdateActions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_SetArtemisServerFromLocation</name>
        <label>Set Artemis Server from Location</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.EmrServer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PreferredLocation__r.LocationEmrServer__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assignment_SetPrefLocationArtemisServer</name>
        <label>Set Pref. Location &amp; Artemis Server</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.PreferredLocation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PreferredProvider__r.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.EmrServer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PreferredProvider__r.Account.LocationEmrServer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_PreferredLocationFilledAndArtemisServerLeftEmpty</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_PreferredLocationFilledAndArtemisServerLeftEmpty</name>
        <label>Preferred Location filled and Artemis Server left empty?</label>
        <locationX>182</locationX>
        <locationY>587</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Decision_PreferredLocationFilledAndArtemisServerLeftEmpty_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PreferredLocation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EmrServer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_SetArtemisServerFromLocation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_PreferredProviderFilledAndPrefLocationArtemisServerLeftEmpty</name>
        <label>Preferred Provider filled and Pref. Loc. &amp; Artemis Server left empty?</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Decision_PreferredLocationFilledAndArtemisServerLeftEmpty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Decision_PreferredProviderFilledAndPrefLocationArtemisServerLeftEmpty_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PreferredProvider__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PreferredLocation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EmrServer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PreferredProvider__r.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LocationAccount</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_SetPrefLocationArtemisServer</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Lead - Before Create/Update actions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - Before Create/Update actions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_PreferredProviderFilledAndPrefLocationArtemisServerLeftEmpty</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
