src/orgs/usa/code/modules/artemis-sync-jobs/flows/ScreenFlow_ArtemisSyncActions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Force_sync_Insurance_Companies_Metadata_from_Artemis</name>
        <label>Force sync Insurance Companies Metadata from Artemis</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <actionName>ArtemisInsuranceCompaniesMetadataSyncJob</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>FaultScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>emrServerIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ArtemisInsuranceCompaniesMetadataSyncJob</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Force_sync_Locations_from_Artemis</name>
        <label>Force sync Locations from Artemis</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <actionName>ArtemisLocationsSyncJob</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>emrServerIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ArtemisLocationsSyncJob</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Force_sync_Practitioners_from_Artemis</name>
        <label>Force sync Practitioners from Artemis</label>
        <locationX>2162</locationX>
        <locationY>458</locationY>
        <actionName>ArtemisPractitionersSyncJob</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emrServerIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ArtemisPractitionersSyncJob</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Force_sync_Providers_from_Artemis</name>
        <label>Force sync Providers from Artemis</label>
        <locationX>1634</locationX>
        <locationY>458</locationY>
        <actionName>ArtemisProvidersSyncJob</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>emrServerIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ArtemisProvidersSyncJob</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Force_sync_Referral_Sources_Metadata_from_Artemis</name>
        <label>Force sync Referral Sources Metadata from Artemis</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <actionName>ArtemisReferralSourcesMetadataSyncJob</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>emrServerIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ArtemisReferralSourcesMetadataSyncJob</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>Choice_InsuranceCompaniesMetadata</name>
        <choiceText>Sync Insurance Companies Metadata</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>InsuranceCompaniesMetadata</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Locations</name>
        <choiceText>Sync Locations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Locations</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Practitioners</name>
        <choiceText>Sync Practitioners</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Practitioners</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Providers</name>
        <choiceText>Sync Providers</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Providers</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_ReferralSourcesMetadata</name>
        <choiceText>Sync Referral Sources Metadata</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ReferralSourcesMetadata</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Decision_WhatActionWasSelected</name>
        <label>What action was selected?</label>
        <locationX>1370</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Screen_NotImplementedAction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>other</defaultConnectorLabel>
        <rules>
            <name>Decision_WhatActionWasSelected_SyncInsuranceCompaniesMetadata</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RadioButton_SelectSyncAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_InsuranceCompaniesMetadata</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Force_sync_Insurance_Companies_Metadata_from_Artemis</targetReference>
            </connector>
            <label>Sync Insurance Companies Metadata</label>
        </rules>
        <rules>
            <name>Decision_WhatActionWasSelected_SyncReferralSourcesMetadata</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RadioButton_SelectSyncAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_ReferralSourcesMetadata</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Force_sync_Referral_Sources_Metadata_from_Artemis</targetReference>
            </connector>
            <label>Sync Referral Sources Metadata</label>
        </rules>
        <rules>
            <name>Decision_WhatActionWasSelected_SyncLocations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RadioButton_SelectSyncAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_Locations</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Force_sync_Locations_from_Artemis</targetReference>
            </connector>
            <label>Sync Locations</label>
        </rules>
        <rules>
            <name>Decision_WhatActionWasSelected_SyncProviders</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RadioButton_SelectSyncAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_Providers</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Force_sync_Providers_from_Artemis</targetReference>
            </connector>
            <label>Sync Providers</label>
        </rules>
        <rules>
            <name>Decision_WhatActionWasSelected_SyncPractitioners</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RadioButton_SelectSyncAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_Practitioners</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Force_sync_Practitioners_from_Artemis</targetReference>
            </connector>
            <label>Sync Practitioners</label>
        </rules>
    </decisions>
    <description>Screen Flow to be used as a button on EMR Server layout. Allows the user to force a specific sync job to run.</description>
    <environments>Default</environments>
    <interviewLabel>Screen - Artemis Sync actions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ScreenFlow - Artemis Sync actions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>ConfirmScreen</name>
        <label>Confirm screen</label>
        <locationX>1370</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_WhatActionWasSelected</targetReference>
        </connector>
        <fields>
            <name>ConfirmMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Please confirm your action.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Be aware if this sync job is already running, an error will be thrown.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FaultScreen</name>
        <label>Fault Screen</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayText_FaultMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(253, 0, 0);&quot;&gt;A problem has ocurred:&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_JobSelection</name>
        <label>Screen - Job selection</label>
        <locationX>1370</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ConfirmScreen</targetReference>
        </connector>
        <fields>
            <name>DisplayText_SelectActionHeaderTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Please select the sync action to execute to this Server.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RadioButton_SelectSyncAction</name>
            <choiceReferences>Choice_InsuranceCompaniesMetadata</choiceReferences>
            <choiceReferences>Choice_ReferralSourcesMetadata</choiceReferences>
            <choiceReferences>Choice_Locations</choiceReferences>
            <choiceReferences>Choice_Providers</choiceReferences>
            <choiceReferences>Choice_Practitioners</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select sync action</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_NotImplementedAction</name>
        <label>Screen - Not implemented action</label>
        <locationX>2690</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayText_NotImplementedAction</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;The selected action doesn&apos;t seem to be yet implemented.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1244</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_JobSelection</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
